.Game{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    //background: linear-gradient(135deg, $primaryLightColor, rgba($primaryColor, 0.8)71%)
    background: linear-gradient(135deg,  rgba(#fff, 0.75), rgba(#fff, 0.1)71%);
    //background-color: rgba(black, 0.1);
}