.Grid{ 
    box-shadow: 0 29px 29px 0 $primaryDarkColor;
    border-radius: 1.5vw;
    background: repeating-conic-gradient( $primaryLightColor 0% 25%, transparent 0% 50% ) top left / 12.5% 22.25%;
    background-color: $primaryColor;
    position: relative;
    display: grid;
    grid-template-columns: repeat(16, 1fr); 
    grid-template-rows: repeat(9, 1fr); 
    width: 70vw; 
    height:  calc(70vw * 9 / 16); 
    max-width: 90vw; 
    max-height: calc(90vw * 9 / 16); 
    * {
        transition: transform 0.5s ease;
    } 
    .gridCell { 
        display: flex;
        img {
            width:100%; 
        } 
    }     
}