.Prompt {
    background-color: $contrastColor;
    width: 60vw; 
    height:  calc(60vw * 9 / 16); 
    max-width: 700px;
    max-height: calc(700px * 9 / 16);
    padding: 2vw;
    border-radius: 2vw;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    box-shadow: inset 3px 5px 3px $contrastDarkColor;
    box-shadow: 0 30px 60px $contrastDarkColor;
    border: 0.5vw solid $contrastDarkColor;
    padding: 0 10%;
    position: relative;
    &.promptOff {
        display: none;
    }
    &.promptOn {
        display: grid;
    }
}
.Prompt__Icon {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    img {
        margin-top: -15%;
        width: 25%;
    }
}