$primaryColor: #9fc771;
$primaryLightColor: #bad470;
$primaryDarkColor: #799c51;

$accentColor: #fcef3d;
$accentLightColor: #fcdf3d;
$accentDarkColor: #fcb03d;
 
$warningColor: #fc5a3d;
$warningLightColor: #fc733d;
$warningDarkColor: #fc3a3d;

$contrastColor: #462f4f;
$contrastLightColor: #4c2f4f;
$contrastDarkColor: #402f4f48;

$textColor: #fff; 